src/bis/config/bis.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2018 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="apache-config"/>
				<xs:enumeration value="apache-download"/>
				<xs:enumeration value="apache-install"/>
				<xs:enumeration value="mysql-config"/>
				<xs:enumeration value="mysql-download"/>
				<xs:enumeration value="mysql-install"/>
				<xs:enumeration value="php-config"/>
				<xs:enumeration value="php-download"/>
				<xs:enumeration value="php-install"/>
				<xs:enumeration value="vc_redist-download"/>
				<xs:enumeration value="vc_redist-install"/>
				<xs:enumeration value="vc_redist-uninstall"/>
				<xs:enumeration value="vcredist-download"/>
				<xs:enumeration value="vcredist-install"/>
				<xs:enumeration value="vcredist-uninstall"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ip">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="127.0.0.1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="md">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="directory" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="os">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="windows"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="copy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="source"/>
				<xs:element ref="destination"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="goal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="cmd-shell"/>
				<xs:enumeration value="hosts-file"/>
				<xs:enumeration value="install-msi"/>
				<xs:enumeration value="install-service"/>
				<xs:enumeration value="silent"/>
				<xs:enumeration value="unpack-zip"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="host">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="name"/>
				<xs:element ref="ip"/>
				<xs:element ref="directory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="keys">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="/install /passive"/>
				<xs:enumeration value="/uninstall"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="loop">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${hosts}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="move">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="source"/>
				<xs:element ref="destination"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${modsetupdir}/conf/extra/httpd-vhosts.conf"/>
				<xs:enumeration value="${modsetupdir}/conf/httpd.conf"/>
				<xs:enumeration value="${modsetupdir}/mydev.ini"/>
				<xs:enumeration value="${modsetupdir}/php.ini"/>
				<xs:enumeration value="AllowOverride"/>
				<xs:enumeration value="CustomLog"/>
				<xs:enumeration value="Directory"/>
				<xs:enumeration value="DirectoryIndex"/>
				<xs:enumeration value="DocumentRoot"/>
				<xs:enumeration value="ErrorLog"/>
				<xs:enumeration value="Listen"/>
				<xs:enumeration value="Options"/>
				<xs:enumeration value="ServerRoot"/>
				<xs:enumeration value="WAMP"/>
				<xs:enumeration value="apache"/>
				<xs:enumeration value="build.devserver.com"/>
				<xs:enumeration value="default-storage-engine"/>
				<xs:enumeration value="default_charset"/>
				<xs:enumeration value="devserver.com"/>
				<xs:enumeration value="extension"/>
				<xs:enumeration value="extension_dir"/>
				<xs:enumeration value="include_path"/>
				<xs:enumeration value="jw.devserver.com"/>
				<xs:enumeration value="max_execution_time"/>
				<xs:enumeration value="max_file_uploads"/>
				<xs:enumeration value="memory_limit"/>
				<xs:enumeration value="mysql"/>
				<xs:enumeration value="php"/>
				<xs:enumeration value="post_max_size"/>
				<xs:enumeration value="session.save_path"/>
				<xs:enumeration value="upload_max_filesize"/>
				<xs:enumeration value="upload_tmp_dir"/>
				<xs:enumeration value="vc_redist"/>
				<xs:enumeration value="vcredist"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="after">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="#&lt;/VirtualHost"/>
				<xs:enumeration value="3306"/>
				<xs:enumeration value="IfModule mime_module"/>
				<xs:enumeration value="[PHP]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="entry">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="goals">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="goal" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hosts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="login">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ak.o.borodulin"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="name"/>
					<xs:element ref="value"/>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="operation"/>
							<xs:sequence minOccurs="0">
								<xs:element ref="expression"/>
								<xs:element ref="quotes" minOccurs="0"/>
							</xs:sequence>
						</xs:sequence>
						<xs:element ref="entry"/>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="after"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="name"/>
							<xs:element ref="value"/>
							<xs:choice>
								<xs:sequence>
									<xs:element ref="expression"/>
									<xs:element ref="description"/>
								</xs:sequence>
								<xs:sequence>
									<xs:element ref="description"/>
									<xs:element ref="entry" minOccurs="0"/>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="value"/>
							<xs:element ref="operation"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="loop" minOccurs="0"/>
							<xs:element ref="values"/>
							<xs:element ref="operation"/>
							<xs:element ref="quotes"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="before"/>
					<xs:element ref="value"/>
					<xs:element ref="operation"/>
					<xs:element ref="quotes" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="oldValue"/>
					<xs:element ref="newValue"/>
					<xs:element ref="operation"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="phase">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="config"/>
				<xs:enumeration value="download"/>
				<xs:enumeration value="install"/>
				<xs:enumeration value="uninstall"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="proxy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="host"/>
				<xs:element ref="login"/>
				<xs:element ref="password"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="start">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="program"/>
				<xs:element ref="params"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="before">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="IfModule unixd_module"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="logDir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${bisdir}/logs/${package.name}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="module">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="version"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="executions"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="params" type="xs:string"/>
	<xs:element name="quotes" type="xs:boolean"/>
	<xs:element name="regKey" type="xs:string"/>
	<xs:element name="source">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="directory"/>
				<xs:element ref="includes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="useLog" type="xs:boolean"/>
	<xs:element name="values">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=";"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dataDir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${modsetupdir}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="include">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="*"/>
				<xs:enumeration value="Main_ReadMe.txt"/>
				<xs:enumeration value="ReadMe.txt"/>
				<xs:enumeration value="php.ini"/>
				<xs:enumeration value="php.ini-development"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="modules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="module" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="package">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description"/>
				<xs:element ref="useLog"/>
				<xs:element ref="logLevel"/>
				<xs:element ref="proxy"/>
				<xs:element ref="os"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="program">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${modsetupdir}/bin/MySQLInstanceConfig.exe"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="service">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${modsetupdir}/bin/httpd.exe"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="version">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="11.0.61030"/>
				<xs:enumeration value="14.0.23026"/>
				<xs:enumeration value="2.4.34"/>
				<xs:enumeration value="5.5.23"/>
				<xs:enumeration value="7.2.7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="windows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="setupDir"/>
				<xs:element ref="distribDir"/>
				<xs:element ref="backupDataDir"/>
				<xs:element ref="backupConfigDir"/>
				<xs:element ref="logDir"/>
				<xs:element ref="modules"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="commands">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="copy" minOccurs="0"/>
					<xs:element ref="md"/>
				</xs:sequence>
				<xs:element ref="start"/>
				<xs:element ref="move" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="hostFile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${windir}/System32/drivers/etc/hosts"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="includes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="include"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="logLevel">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="newValue">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="#&lt;/VirtualHost"/>
				<xs:enumeration value="#&lt;VirtualHost"/>
				<xs:enumeration value="#CustomLog"/>
				<xs:enumeration value="#DocumentRoot"/>
				<xs:enumeration value="#ErrorLog"/>
				<xs:enumeration value="#ServerAdmin"/>
				<xs:enumeration value="#ServerAlias"/>
				<xs:enumeration value="#ServerName"/>
				<xs:enumeration value="${modsetupdir}"/>
				<xs:enumeration value="Allow from all"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="oldValue">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="&lt;/VirtualHost"/>
				<xs:enumeration value="&lt;VirtualHost"/>
				<xs:enumeration value="CustomLog"/>
				<xs:enumeration value="Deny from all"/>
				<xs:enumeration value="DocumentRoot"/>
				<xs:enumeration value="ErrorLog"/>
				<xs:enumeration value="ServerAdmin"/>
				<xs:enumeration value="ServerAlias"/>
				<xs:enumeration value="ServerName"/>
				<xs:enumeration value="c:/Apache24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="password">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="vavilon_61"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="regParam">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Version"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="setupDir">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="D:/Programs/${package.name}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="directory">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${modsetupdir}"/>
				<xs:enumeration value="${modsetupdir}/Apache24"/>
				<xs:enumeration value="${modsetupdir}/includes"/>
				<xs:enumeration value="${modsetupdir}/tmp"/>
				<xs:enumeration value="${modsetupdir}/upload"/>
				<xs:enumeration value="${webprojectdir}"/>
				<xs:enumeration value="${webprojectdir}/localhost"/>
				<xs:enumeration value="${webprojectdir}/localhost/public/build"/>
				<xs:enumeration value="${webprojectdir}/localhost/public/jw"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="execution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="phase"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="description" minOccurs="0"/>
					<xs:element ref="goals"/>
				</xs:sequence>
				<xs:element ref="configuration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="operation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="post-insert"/>
				<xs:enumeration value="pre-insert"/>
				<xs:enumeration value="replace"/>
				<xs:enumeration value="update"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="processor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="architecture"/>
				<xs:element ref="distribUrl"/>
				<xs:element ref="distribFile" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="configFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="comment" minOccurs="0"/>
				<xs:element ref="parameters"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distribDir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${bisdir}/distrib/${package.name}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="distribUrl" type="xs:anyURI"/>
	<xs:element name="executions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="execution" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="expression" type="xs:boolean"/>
	<xs:element name="installDir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${modsetupdir}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="modBinDirs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="directory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="configFiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="configFile" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="destination">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="directory"/>
				<xs:element ref="includes" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distribFile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="mysql-5.5.23-win32.msi"/>
				<xs:enumeration value="mysql-5.5.23-winx64.msi"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="modSetupDir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${setupdir}/Apache24"/>
				<xs:enumeration value="${setupdir}/MySQL55"/>
				<xs:enumeration value="${setupdir}/php7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="serviceName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Apache2.4"/>
				<xs:enumeration value="MySQL5.5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="architecture">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="x64"/>
				<xs:enumeration value="x86"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="backupDataDir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${bisdir}/backup/data/${package.name}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="configuration">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="commands"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="modSetupDir"/>
							<xs:element ref="service"/>
							<xs:element ref="serviceName"/>
						</xs:sequence>
						<xs:element ref="configFiles"/>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="dataDir"/>
					<xs:element ref="installDir"/>
					<xs:element ref="serviceName"/>
					<xs:element ref="commands"/>
					<xs:element ref="modSetupDir"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="modSetupDir"/>
					<xs:element ref="modBinDirs"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="installedVersion" minOccurs="0"/>
					<xs:element ref="keys"/>
				</xs:sequence>
				<xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="webProjectDir"/>
						<xs:element ref="hostFile"/>
						<xs:element ref="commands"/>
						<xs:element ref="hosts"/>
					</xs:sequence>
					<xs:element ref="configFiles"/>
				</xs:sequence>
				<xs:element ref="processor" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="webProjectDir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${setupdir}/projects.web"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="backupConfigDir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="${bisdir}/backup/config/${package.name}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="installedVersion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="regKey"/>
				<xs:element ref="regParam"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
